
body {
	background-color: #f7f7f7;
}

* {
	box-sizing: border-box;
}

.blunt-bg {
}

.inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.app-content {
	max-width: 968px;
	margin: 0 auto;
}

.honour-content {
    max-height: 450px;
    overflow-y: auto;
}

.page-title {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 2px 2px #222;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.page-title a {
	color: #d34;
    text-decoration: none;
}

.athletes {
	padding: 10px;
}

.athlete {
    display: inline-block;
    padding: 0;
    position: relative;
    width: calc(50% - .75em);
    min-height: 75px;
    margin: 0 0.375em;
}

.athlete-name a {
	text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.athlete > a {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}

.athlete-bottom-info {
	background-color: #fff;
}

.athlete-thumbs-counter {
	display: block;
}

.fa-thumbs-o-up,
.fa-thumbs-up {
	font-size: 1.5em;
	cursor: pointer;
	vertical-align: middle;
}

.fa-list,
.fa-th {
	vertical-align: middle;
}

.wrapper {
}

.toggle-button {
    margin-right: 5px;
    color: #a9a9a9;
    padding: 10px;
    /* border-radius: 3px; */
    border: 1px solid #d9d9d9;
}

.active {
	color: #555;
    background-color: #fff;
}

/* LIST VERSION */
.list-item {
	display: -ms-flexbox;
	display: flex;
}

.item-image img {
	max-width: 75px;
}

.item-name {
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 18px 10px 0 20px;
}

.item-votes {
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}

.item-name h2 {
	font-size: 1.25em;
	margin: 0;
}

.list:nth-child(even) {
	background-color: #f2f2f2;
}

.list:nth-child(odd) {
	background-color: #f7f7f7;
}

.grid {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.athlete-inner {
	box-shadow: 0 2px -2px 0 rgba(0,0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,0.12);
}

.athlete-profile {
	max-width: 150px;
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	box-shadow: 0 0 1px 1px #555;
	border: 10px solid #f7f7f7;
}

.athlete-profile-name {
	margin-left: 5px;
	padding-bottom: 0;
	color: #fff;
	text-shadow: 0 2px 1px #222;
}

.athlete-profile img {
	max-width: 100%;
}

/* GRID VERSION */
.grid {
	/* border: 1px solid #ccc; */
	max-width: 275px;
}

.grid .athlete-image { 
	max-width: 100%;
}

.grid .athlete-name {
    font-size: 1.6em;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 8px;
}

.grid .athlete-votes {
	position: absolute;
	top: 2px;
	right: 2px;
	background-color: #fff;
	padding: 5px;
	display: none;
}

.control-panel {
	padding: 10px;
}

.control-panel > div {
	margin-top: 5px;
}
.control-panel input {
	width: 100%;
	padding: 5px;
	border: none;
	min-height: 45px;
	border: 1px solid #d9d9d9;
	/* border-radius: 3px; */
}

.search {
	position: relative;
}

.erase {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 12px;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

.erase i {
	line-height: 45px;
}

.view-controls {
    border-right: 1px solid #999;
    margin-right: 5px;
}

.athlete-inner .cover {
	background-color: #f9f9f9;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
	padding-top: 10px;
}

.athlete-tabs {background-color: #fff;border-bottom: 1px solid #f2f2f2;border-left: 1px solid #f2f2f2;border-right: 1px solid #f2f2f2;}

.athlete-tab {
	width: 50%;
	padding: 10px 30px;
	height: 45px;
	vertical-align: middle;
	line-height: 26px;
	font-weight: bold;
	color: navy;
	border-right: 1px solid #e9eaed;
}

.athlete-tab.active {
	position: relative;
}

.athlete-tab.active:after {
	content: "";
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f7f7f7;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.inactive-tab {
	width: 100%;
}

footer {
	padding: 8px 0;
}

footer span {
	margin-right: 5px;
}

footer p {
	margin: 0;
}

.main-header {
	text-align: center;
	z-index: 2;
	overflow: hidden;
	background-color: #fff;
	height: 60px;
}

.page-title::after {
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    background-image: url(/public/img/soccer-ball22.png);
    top: -10px;
    z-index: -1;
    background-size: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.8;
    animation:spin 5s linear infinite;
    transition: all 2s;
}

.page-title:hover ::after {
	width: 110%;
	height: 110%;
}

.athlete-content {
	margin: 0.75em;
}

.list {
	width: 100%;
}

.athlete-info,
.twitter-feed,
.honours {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #f2f2f2;
	width: 100%;
	margin-bottom: 0.75em;
}

.athlete-basic-info {
	width: 100%;
}

.athlete-info {
    position: relative;
}

.athlete-info-icon i,
.twitter-icon i,
.honours-icon i {
	padding: 5px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 12px;
	text-align: center;
	color: #337ab7;
	margin-right: 3px;
}

.twitter-icon {
	text-align: center;
	position: relative;
}

.twitter-status {
	border-bottom: 1px solid #f2f2f2;
	padding: 12px 5px;
}

.twitter-feed-title,
.team-honours-title,
.basic-info-title {
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    display: block;
    padding: 0 5px 10px 0;
}

.athlete-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: start;
	align-items: flex-start;
}

.athlete-info {
	-ms-flex-order: 0;
	order: 0;
}

.team {
	margin-top: 5px;
	padding-left: 10px;
}

.events {
    padding-left: 20px;
    list-style: none;
}

.team-honours {
    padding: 5px 0;
}

.title-badge {
	line-height: 20px;
	padding-left: 6px;
	position: absolute;
	right: 0;
	border-radius: 13px;
	width: 25px;
	height: 25px;
}

.team-honours-title {
    position: relative;
}

.abstract {
	padding: 5px;
}

.reddit-container {
    max-height: 425px;
    overflow-y: auto;
}

.reddit-status-title {
    margin-bottom: 10px;
}

.spinner {
    margin: 20px;
    font-size: 1.8em;
    color: #337ab7;
}

@keyframes spin { 
	100% { 
		transform:rotate(360deg); 
	} 
}

@media only screen and (min-width: 481px) {
	.grid {
		display: inline-block;
		margin: .5em;
		width: calc(50% - 1em);
		max-width: initial;
	}

	.list {
		width: 100%;
	}

	.toggle-button {
		font-size: 0.9em;
	}

	.athlete-profile {
    	bottom: -25px;
    	left: 20px;
    	right: 0;
    	margin: 0;
	}

	.inactive-tab {
		width: 190px;
	}

	.athlete-tab:not(.inactive-tab) {
		width: auto;
	}

	.athlete-inner .cover {
		padding-top: 130px;
		padding-left: 195px;
	}

	.athlete-profile-name {
		text-align: left;
	}
}

@media only screen and (min-width: 568px) {
	.grid {
		width: calc(25% - 1em);
	}
}

@media only screen and (min-width: 768px) {
	.grid {
		width: calc(16.666666667% - 1em);
	}

	.app-content {
		padding-top: 25px
	}

	.athlete-info,
	.twitter-feed {
		display: inline-block;
		vertical-align: top;
	}

	.athlete-basic-info {
		width: calc(45% - .375em);
		margin: 0 .375em 0 0;
		-ms-flex-order: 0;
		order: 0;
	}

	.twitter-feed {
		width: calc(55% - .375em);
		margin: 0 0 0 .375em;
	}

	.athlete-content {
		margin: .75em 0;
	}
}
